<launch>

<!--<include file="$(find vicon_bridge)/launch/vicon.launch" />-->
<include file="$(find wpi-youbot)/launch/2rosbag.launch" />
<!--<include file="$(find wpi-youbot)/launch/3rosbag.launch" />-->


<node pkg="rosservice" type="rosservice" name="my_gazebo_reset" args="call --wait /gazebo/reset_simulation"/>

  <!-- launch kuka youbot -->
  <node pkg="wpi-youbot"
  type="simple_topic_publisher.py"
  name="Planner"
  output="screen">
  </node>
</launch>
